body {
  font-family: 'Roboto', sans-serif;
  background-color: #23272A;
}
.cs-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 128px;
  height: 128px;
}

.head {
  border-radius: 10px;
  background: #2C2F33;
  padding: 20px;
  width: 200px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
}
.sub-head {
  border-radius: 5px;
  background: #393c43;
  padding: 7px;
  width: auto;
  height: auto;
}
