body {
  font-family: 'Roboto', sans-serif;
  background-color: #23272A;
}
.cs-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 128px;
  height: 128px;
}
.head {
  border-radius: 10px;
  background: #2C2F33;
  padding: 20px;
  width: 200px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
}
.sub-head {
  border-radius: 5px;
  background: #393c43;
  padding: 7px;
  text-align: center;
  width: auto;
  height: auto;
}
.note {
  /*padding: 7px;*/
  font-weight: 300;
  font-size: 15px;
}
.debug {
  border-radius: 10px;
  background: #FFF;
  padding: 10px;
  width: 100px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.button {
border: 10px;
padding: 3px;
color: #FFF;
background: #2C2F33;
box-shadow: none;
border-radius: 3px;
}
.input {
  border-radius: 5px;
  background: #2C2F33;
  padding: 7px;
  width: 225px;
  height: 20px;
}
